# Dependencies
node_modules/
jspm_packages/

# Environment Files
.env
.env.test
.env.production

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Build and Compile
dist/
build/

# Test coverage
coverage/
.nyc_output/

# IDE and System
.DS_Store
Thumbs.db
.vscode/
.idea/
*.tsbuildinfo